$bold-font: open_sanssemibold;

@keyframes colorchange {
  0% {
    border: 3px solid rgb(3, 247, 3);
  }
  50% {
    border: 3px solid #ff0012;
  }
  100% {
    border: 3px solid rgb(3, 247, 3);
  }
}

.container {
  background-color: lightgoldenrodyellow;

  .package-name {
    a {
      color: #df0020;
      font-family: $bold-font;
      font-size: 35px;
    }
  }

  .downloads {
    .count-container {

      .count {
        display: flex;
        justify-content: center;
        color: #666666;
        font-family: $bold-font;
        font-size: 40px;
        border: solid;
        border-radius: 15px;
        animation: colorchange 3s;
        animation-iteration-count: infinite;
      }

      .download-text {
        color: #f90012;
        font-family: $bold-font;
        font-size: 15px;
        display: flex;
        justify-content: center;
      }
    }
  }

  .package-changer {
    a {
      color: #df0020;
    }

    label {
      color: #df0020;
    }

    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .submit-btn {
    margin-left: 85px;
  }

  .btn-link {
    margin: 0 auto;
  }
}


